@{
    Layout = null;
}

<form method="POST" action="/Auth/Login">
    <div>
        <label>Usuario</label>
        <input type="text" name="usuario">
        <br>
        <label>Contraseña</label>
        <input type="password" name="passwd">
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Iniciar</button>
    </div>
</form>